@media screen and (min-width: 480px) and  (max-width: 1280px) {
    .content {
        max-width: 672px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .content div.wrapper {
        gap: 32px;
        margin-top: 30px;
    }

    button {
        padding: 0 30px;
    }
}